body{
    box-sizing: border-box;
    background-color: hsl(185, 75%, 39%);
    margin: 0;
    padding: 0;
    background-image: url("images/bg-pattern-top.svg"),url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 40vh, left 49vw top 52vh;
}

/* RODOPÉ DA PÁGINA */
footer { 
    font-size: 11px; 
    text-align: center;     
}
footer a { 
    color: hsl(228, 45%, 44%);

}
main{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 98vh;
}

.card {
    background-color: azure;
    width: 320px;
    height: 340px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

/* CAPA DA PÁGINA */
.front-cover{
    height: 130px;
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 20px 20px 0px 0px;
}
/* IMAGEM DO PERFIL */
.profile-picture{
    position: absolute;
    margin-top: 70px;
    margin-left: 110px;
    margin-right: 110px;
}
.photo {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    border: 4px solid white;
}
/* INFORMAÇÕES DO NOME E IDADE */
.card-name-age{
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}
.card-name-age p{
    margin-top: 80px;
    margin-left: 10px;
}

.name{
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}
.age{
    font-size: 18px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
/* CIDADE */
.city{
    text-align: center;
    height: 45px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(227, 10%, 46%);
}

/* INFORMAÇÕES DE SOCIAL MIDIA */
.card-information{
    height: 79px;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-top: 1px solid #e8e9ec;
    border-bottom: 0px ;
}
.card-social{
    width: 106px;

}
.card-social p{

    font-family: 'Kumbh Sans', sans-serif;    
}

.counts{
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;  
}
.types {
    font-size: 10px;
    color: hsl(227, 10%, 46%);
    font-weight: 400;
    margin-top: -15px;  
 }

 @media screen and (max-width: 375px) {
    main {
      width: 326px;
      max-width: 326px;
    }
    body {
      background-position: right 40vw bottom 40vh, left 40vw top 40vh;
    }
}